__pycache__
logs
venv/
.vscode/

# Image files
*.png
*.tif
imageData/

# pytest files
.coverage

# Tox files
.tox

# Data files
*.npy
*.csv
*.zip
waveforms/
waveformsAndfrequency/
results/
eventChunkData/
data/

# Pycharm .idea folder
.idea/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Keep all files in example_plots and nn_examples directories
!examples/example_plots/*
!examples/nn_examples/*

# files needed for testing
!tests/test_data/*
