data/
imageData/
__pycache__
eventChunkData/
logs
*.png
waveforms/
waveformsAndfrequency/
*.csv
results/
*.npy

# Keep all files in example_plots directory
!examples/example_plots/*
!examples/nn_examples/*
